.link {
  margin: 0.2rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
}

.reg {
  color: black;
  padding: 0 4rem;
}

.name {
  color: black;
  margin-left: 10rem;
  padding: 0.5rem 4rem;
}

.link:hover {
  background-color: rgb(255, 200, 200);
}
