.StudentsListDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.listTitlesDiv {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reg {
  margin-left: 5.5rem;
  font-weight: bold;
}

.name {
  margin-right: 4.2rem;
  font-weight: bold;
}
