.FooterDiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    bottom: 0;
    width: 100vw;
    min-height: 10vh;
    background-color: brown;
}