.NavBarDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  min-height: 10vh;
  background-color: rgb(120, 50, 50);
}

.title {
  color: white;
}

.unorderedList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  font-size: 1.2rem;
  padding: 0 2rem;
  color: white;
}
