.FooterDiv {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    bottom: 0;
    width: 100vw;
    height: 3rem;
    background-color: brown;
}