.link {
  margin: 0.2rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 3px;
  border-radius: 5px;
}

.reg {
  color: black;
  padding: 0.5rem 1rem;
}

.name {
  margin-left: 10rem;
  color: black;
  padding: 0.5rem 4rem;
}

.link:hover {
  background-color: rgb(255, 200, 200);
}
