.link {
  margin: 0.2rem;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.reg {
  margin: 0 1rem;
  color: black;
  padding: 0.5rem 1rem;
}

.name {
  margin: 0 1rem 0 10rem;
  color: black;
  padding: 0.5rem 1rem;
}

.link:hover {
  background-color: rgb(255, 200, 200);
}
